﻿@page "/"

@using MLTest02ML.Model;
@using MLTest02.Helpers;
@using MLTest02.Models;
@using MLTest02.Extensions;

<h1>FIFA 2020 Player stats</h1>

@if (teamData == null)
{
    <p><em>Loading team...</em></p>
}
else
{
    <h3>Team value: @teamData.GetTeamValue().toEuroString() Team budget: @teamData.Budget.toEuroString()</h3>
    <table class="table">
        <thead>
            <tr>
                <th>GK</th>
                <th>LB</th>
                <th>CB</th>
                <th>CB</th>
                <th>RB</th>
                <th>CMD</th>
                <th>CMD</th>
                <th>LM</th>
                <th>CM</th>
                <th>RM</th>
                <th>ST</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><p><a href=@teamData.GK.Player_url target="_blank">@teamData.GK.Short_name</a></p><p>@teamData.GK.Value_eur.toEuroString()</p><p>@teamData.GK.Overall/@teamData.GK.Potential</p></td>
                <td><p><a href=@teamData.LB.Player_url target="_blank">@teamData.LB.Short_name</a></p><p>@teamData.LB.Value_eur.toEuroString()</p><p>@teamData.LB.Overall/@teamData.LB.Potential</p></td>
                <td><p><a href=@teamData.CB1.Player_url target="_blank">@teamData.CB1.Short_name</a></p><p>@teamData.CB1.Value_eur.toEuroString()</p><p>@teamData.CB1.Overall/@teamData.CB1.Potential</p></td>
                <td><p><a href=@teamData.CB2.Player_url target="_blank">@teamData.CB2.Short_name</a></p><p>@teamData.CB2.Value_eur.toEuroString()</p><p>@teamData.CB2.Overall/@teamData.CB2.Potential</p></td>
                <td><p><a href=@teamData.RB.Player_url target="_blank">@teamData.RB.Short_name</a></p><p>@teamData.RB.Value_eur.toEuroString()</p><p>@teamData.RB.Overall/@teamData.RB.Potential</p></td>
                <td><p><a href=@teamData.CMD1.Player_url target="_blank">@teamData.CMD1.Short_name</a></p><p>@teamData.CMD1.Value_eur.toEuroString()</p><p>@teamData.CMD1.Overall/@teamData.CMD1.Potential</p></td>
                <td><p><a href=@teamData.CMD2.Player_url target="_blank">@teamData.CMD2.Short_name</a></p><p>@teamData.CMD2.Value_eur.toEuroString()</p><p>@teamData.CMD2.Overall/@teamData.CMD2.Potential</p></td>
                <td><p><a href=@teamData.LM.Player_url target="_blank">@teamData.LM.Short_name</a></p><p>@teamData.LM.Value_eur.toEuroString()</p><p>@teamData.LM.Overall/@teamData.LM.Potential</p></td>
                <td><p><a href=@teamData.CM.Player_url target="_blank">@teamData.CM.Short_name</a></p><p>@teamData.CM.Value_eur.toEuroString()</p><p>@teamData.CM.Overall/@teamData.CM.Potential</p></td>
                <td><p><a href=@teamData.RM.Player_url target="_blank">@teamData.RM.Short_name</a></p><p>@teamData.RM.Value_eur.toEuroString()</p><p>@teamData.RM.Overall/@teamData.RM.Potential</p></td>
                <td><p><a href=@teamData.ST.Player_url target="_blank">@teamData.ST.Short_name</a></p><p>@teamData.ST.Value_eur.toEuroString()</p><p>@teamData.ST.Overall/@teamData.ST.Potential</p></td>
            </tr>
        </tbody>
    </table>
}

@if (tableData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Pred. Value</th>
                <th>Value diff</th>
                <th>Age</th>
                <th>Nationality</th>
                <th>Club</th>
                <th>Overall</th>
                <th>Potential</th>
                <th>Player_positions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in tableData)
            {
                <tr>
                    <td><a href=@data.Player_url target="_blank">@data.Long_name</a></td>
                    <td>@data.Value_eur.toEuroString()</td>
                    <td>@GetPred(data)</td>
                    <td>@GetDiffValue(data).toEuroString()</td>
                    <td>@data.Age</td>
                    <td>@data.Nationality</td>
                    <td>@data.Club</td>
                    <td>@data.Overall</td>
                    <td>@data.Potential</td>
                    <td>@data.Player_positions</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    public List<ModelInput> tableData = new List<ModelInput>();
    public Formation_4231 teamData = new Formation_4231();

    protected override async Task OnInitializedAsync()
    {
        var test = HelperData.GetData().Where(x => x.Potential > 80 && x.Player_positions != "GK").OrderBy(x => x.Age).Take(10).ToList();

        teamData = HelperTeamGenerator.CreateNewTeam(150000000f);

        tableData = test.OrderByDescending(x => (GetPredFloat(x) - x.Value_eur)).ToList();

    }

    private float GetDiffValue(ModelInput data)
    {
        var value = (GetPredFloat(data) - data.Value_eur);

        return value;
    }

    private string GetPred()
    {

        //// Add input data
        var input = new ModelInput()
        {

        };

        //// Load model and predict output of sample data
        ModelOutput result = ConsumeModel.Predict(input);

        return result.PredictedValue.ToString();
    }

    private string GetPred(ModelInput item)
    {

        //// Load model and predict output of sample data
        ModelOutput result = ConsumeModel.Predict(item);

        return result.PredictedValue.toEuroString();
    }

    private float GetPredFloat(ModelInput item)
    {

        //// Load model and predict output of sample data
        ModelOutput result = ConsumeModel.Predict(item);

        return result.PredictedValue;
    }

}

